{% extends "base.html" %}
{% block content %}
<!--================Blog Area =================-->
<section class="blog_area section_gap">
    <div class="container">
        <div class="row">
            {% for blog in blogs %}
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{{ blog.image.url }}" class="img-responsive" alt="">
                                    <a href="#" class="blog_item_date">
                                        <h3>{{ blog.pub_date|date:"j" }}</h3>
                                        <p>{{ blog.pub_date|date:"F" }}</p>
                                    </a>
                             </div>
                        
                             <div class="blog_details">
                             <a class="d-inline-block" href="{% url 'core:singleblog' blog.id %}">
                                 <h2>{{ blog.title }}</h2>
                             </a>
                             <p>{{ blog.preview }}</p>
                             <ul class="blog-info-link">
                                 <li><a href="#"><i class="ti-user"></i> Travel, Lifestyle</a></li>
                                 <li><a href="#"><i class="ti-comments"></i> 03 Comments</a></li>
                             </ul>
                             </div>
                         </article>
                     </div>
                 </div>
             {% endfor %}
         </div>
     </div>
</section>
<!--================Blog Area =================-->
{% endblock content %}