{% load cart_template_tags %}

<nav class="navbar navbar-expand-lg navbar-light w-100">
    <!-- Brand and toggle get grouped for better mobile display -->
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
        <div class="row w-100 mr-0">
            <div class="col-lg-7 pr-0">
                <ul class="nav navbar-nav center_nav pull-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'core:index' %}">Home</a>
                    </li>
                    <li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:category' %}">Shop Category</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:singleproduct' %}">Product Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:checkout' %}">Product Checkout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:cart' %}">Shopping Cart</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Blog</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:blog' %}">Blog</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Pages</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:tracking' %}">Tracking</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'core:elements' %}">Elements</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core:contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 pr-0">
                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                    
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'core:order-summary' %}" class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_logout' %}">
              <span class="clearfix d-none d-sm-inline-block"> Logout </span>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_login' %}">
              <span class="clearfix d-none d-sm-inline-block"> Login </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
              <span class="clearfix d-none d-sm-inline-block"> Signup </span>
            </a>
          </li>
          {% endif %}
        </ul></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="icons">
                        <i class="ti-heart" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
